<!DOCTYPE html>
<html>
    <head>
        <% @title="Display Service Requests Page: Abode" %>
    </head>
     <%= render '/layouts/manager_nav_bar' %>
     <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3 white-text">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <body>
        <div class = "container">
            <div class = "row">
                <h1>services</h1>
            </div>
            <div class = "row" id = "proptable">
                <table class = "highlight"  >
                    <thead>
                        <th></th>
                        <th>Requester</th>
                        <th>Address</th>
                        <th>Subject</th>
                        <th>Room</th>
                        <th>Notes</th>
                    </thead>
                    <tbody>
                        <%if @services
                        @services.each do |t| %>
                            <tr>
                                <td>  <a class "waves-effect waves-teal btn-flat" href="<%= services_path %>/<%= t.id %>"><%= t.name %> </a> </td>
                                <td><%= t.address %></td>
                                  <td><%= t.subject%> </td>
                                <td><%= t.room%> </td>
                                <td><%= t.notes%>   </td>

                            </tr>
                        <%end 
                         end%>
                     </tbody>
                </table>
            </div>
            <br/>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>