<!DOCTYPE html>
<html>
    <%= render '/layouts/manager_nav_bar' %>
    <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <body>
        <div class = "container">
            <div class = "row">
                <h3>
                   Edit Tenant Information
                </h3>
            </div>
            <div class = "row">
                <%= form_for @tenant, url: {action: "edit"} do |f| %>
                    <div class = "row">
                        <div class = "col s3">
                            <label for="tenant_name">Name</label>
                            <%=  f.text_field :name, :class => "input-field "%>
                        </div>
                        <div class = "col s3">
                            <label for="tenant_email">Email</label>
                            <%=  f.text_field :email, :class => "input-field" %>
                        </div>
                        <div class = "col s3"
                            <label for="tenant_phone_number">Phone Number</label>
                            <%=  f.number_field :phone_number, :class => "input-field" %>
                        </div>
                        <div class = "col s3"
                            <label for="tenant_rentNum">Monthly Rent</label>
                            <%=  f.text_field :rentNum, :class => "input-field" %>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col s3">
                            <%= f.submit "Update", class: "btn btn-primary" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>