<html>
  <body>
<div class = "container">
            <div class = "row">
                <h1>tenants</h1>
            </div>
            <div class = "row" id = "proptable">
                <table class = "highlight"  >
                    <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Phone_Number</th>
                        <th>Email</th>
                        <th>Provider</th>
                        <th>Uid</th>
                    </thead>
                    <tbody>
                        <%if @tenants
                        @tenants.each do |t| %>
                            <tr>
                                <td>  <a class "waves-effect waves-teal btn-flat" href="<%= tenants_path %>/<%= t.id %>"><%= t.name %> </a> </td>
                                <td><%= t.email %></td>
                                <td><%= t.phone_number%> </td>
                                <td><%= t.uid%>   </td>
                                <td><%= t.provider%>   </td>
                                <td>  <a class "waves-effect waves-teal btn-flat" href="<%= tenants_path %>/<%= t.id %>/edit" id = "Edit">Edit</a> </td>
                            </tr>
                        <%end 
                         end%>
                     </tbody>
                </table>
            </div>
            <div class = "row">
                <br/>
                <div>
                    <a class = "waves-effect waves-light btn" href = "<%=tenants_path%>/new" id = "create">Create New</a>
                    <a class = "waves-effect waves-light btn" href = "<%=landlords_path%>">Landlords</a>
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>