<!DOCTYPE html>
<html>
     <%= render '/layouts/tenant_nav_bar' %>
     <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3 white-text">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    </head>
    <body>
        <br/>
        <div class = "row">
            <div class = "col s6">
                <div class = "card orange darken-4">
                    <span class = "card-title white-text" style = "padding:5px;">My Info</span>
                    <div class = "card-content black-text white">
                        <p>
                            <ul>
                                <li><b>Name:</b> <%= @tenant.name%></li>
                                <li><b>Email:</b> <%= @tenant.email%></li>
                                <li><b>Phone Number:</b> <%= @tenant.phone_number%></li>
                                <%if @property %>
                                    <li><b>My Property:</b> <a class "waves-effect waves-teal btn-flat" href="<%= properties_path %>/<%= @property.id %>"><%= @property.name %> </a> </td>
                                    <li><b>Monthly Rent:</b> <%= @tenant.rentNum %></td>
                                <% else %>
                                    <li><b>My Property:</b> None</li>
                                <% end %>
                            </ul>
                        </p>
                    </div>
                    <div class = "card-action">
                        <a href = "/tenants/edit" class = "white-text">Edit</a>
                    </div>
                </div>
            </div>
        <% if not @roommates.nil? %>
            <% if not @roommates.empty? %>
                <div class = "col s6">
                    <div class = "card orange darken-4">
                        <span class = "card-title white-text" style = "padding:5px;">My Housemates</span>
                        <div class = "card-content black-text white">
                            <table class = "highlight"  >
                                <thead>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Monthly Rent</th>
                                </thead>
                                <tbody>
                                    <% @roommates.each do |t| %>
                                        <tr>
                                            <td><%= t.name %></td>
                                            <td><%= t.email %></td>
                                            <td><%= t.phone_number %></td>
                                            <td><%= t.rentNum %></td>
                                        </tr>
                                    <% end %>
                                 </tbody>
                            </table>
                            <% if @roommateRentTot < @property.monthly_rent %> 
                                <span class = "red-text"><i class="material-icons left">warning</i> Your monthly rent is <%= @property.monthly_rent %>, but you have agreed to pay <%=@roommateRentTot%> in total.
                                <br/>Please adjust your monthly rent contributions.
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if not @services.nil? %>
            <% if not @services.empty? %>
                <div class = "col s6">
                    <div class = "card orange darken-4">
                        <span class = "card-title white-text" style = "padding:5px;">Service Requests</span>
                        <div class = "card-content black-text white">
                            <table class = "highlight"  >
                                <thead>
                                    <th>Address</th>
                                    <th>Subject</th>
                                </thead>
                                <tbody>
                                    <% @services.each do |t| %>
                                        <tr>
                                            <td>  <a class "waves-effect waves-teal btn-flat" href="<%= services_path %>/<%= t.id %>"><%= t.address %> </a> </td>
                                            <td><%= t.subject %> </td>
                                        </tr>
                                    <% end %>
                                 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
        <div class = "row">
            <div class = "col s6">
                <div class = "card orange darken-4">
                    <span class = "card-title white-text" style = "padding:5px;"> Rent</span>
                    <div class = "card-content black-text white">
                        <table class = "highlight"  >
                        <thead>
                            <th>Address</th>
                            <th>Amount Due</th>
                            <th>Total Due</th>
                            <th>Due By</th>
                            <th>Pay</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <%if @property %>
                                    <% @tenant.rent.each do |r| %>
                                       <tr>
                                            <td><%= @property.address %> </a> </td>
                                            <% if @tenant.stripe_user_id.blank? %>
                                                <td><a href="https://connect.stripe.com/express/oauth/authorize?response_type=code&amp;client_id=ca_BxQ5lRqHMj8wNB7ypsxH0sl1XNkFJ9xE&amp;scope=read_write&amp;redirect_uri=https://property-site-2.herokuapp.com/tenants/show" class="stripe-connect"><span>Connect with Stripe</span></a></td>
                                            <% else %>
                                                <% if @tenant.rentNum.nil? %>
                                                    <td><a href = "/tenants/edit">Edit</a></td>
                                                <% else %>
                                                    <td><%= @tenant.rentNum %> </td>
                                                <% end %>
                                                <td><%= r.total %> </td>
                                                <td><%= r.due.month %>/<%= r.due.day %>/<%= r.due.year %></td>
                                                <!--<td>
                                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                        <input type="hidden" name="cmd" value="_xclick">
                                                        <input type="hidden" name="business" value="WC3NQBG6Q7WDS">
                                                        <input type="hidden" name="lc" value="US">
                                                        <input type="hidden" name="item_name" value="<%=@property.name%> Rent, <%= r.due.month %>/<%= r.due.year %> ">
                                                        <input type="hidden" name="button_subtype" value="services">
                                                        <input type="hidden" name="no_note" value="1">
                                                        <input type="hidden" name="no_shipping" value="1">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                                                        <input type="hidden" name="amount" value="<%=@tenant.rentNum %>">
                                                        <input type="hidden" name="return" value-"https://property-site-2.herokuapp.com/tenants/pay/<%=r.id%>">
                                                        <input type="hidden" name="cancel_return" value-"https://property-site-2.herokuapp.com/tenants/show">
                                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    </form>
                                                </td>-->
                                                <td><a class "waves-effect waves-teal btn-flat" href="/tenants/pay/<%= r.id %>">Pay Rent</a></td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>
