<!DOCTYPE html>
<html>
     <%= render '/layouts/tenant_nav_bar' %>
    <body>
        <br/>
        <div class = "row">
            <div class = "col s6">
                <div class = "card orange darken-4">
                    <span class = "card-title white-text" style = "padding:5px;">My Info</span>
                    <div class = "card-content black-text white">
                        <p>
                            <ul>
                                <li><b>Name:</b> <%= @tenant.name%></li>
                                <li><b>Email:</b> <%= @tenant.email%></li>
                                <li><b>Phone Number:</b> <%= @tenant.phone_number%></li>
                                <%if @property %>
                                    <li><b>My Property:</b> <a class "waves-effect waves-teal btn-flat" href="<%= properties_path %>/<%= @property.id %>"><%= @property.name %> </a> </td>
                                <% else %>
                                    <li><b>My Property:</b> None</li>
                                <% end %>
                            </ul>
                        </p>
                    </div>
                    <div class = "card-action">
                        <a href = "/tenants/edit">Edit</a>
                    </div>
                </div>
            </div>
        <% if @roommates %>
            <div class = "col s6">
            <div class = "card orange darken-4">
                <span class = "card-title white-text" style = "padding:5px;">My Housemates</span>
                <div class = "card-content black-text white">
                    <table class = "highlight"  >
                        <thead>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </thead>
                        <tbody>
                            <% @roommates.each do |t| %>
                                <tr>
                                    <td><%= t.name %></td>
                                    <td><%= t.email %></td>
                                    <td><%= t.phone_number %></td>
                                </tr>
                            <% end %>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
        <% end %>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>