<!DOCTYPE html>
<html>
     <%= render '/layouts/tenant_nav_bar' %>
    <body>
        <div class= "container">
            <div class = "row">
                <h1 class = "center-align">Welcome, <%= @tenant.name%> </h1>
            </div>
        </div>
        <div class = "row">
            <table class = "highlight">
                <thead>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>My Email</th>
                    <th>My Property</th>
                </thead>
                <tbody>
                    <%if @tenant %>
                        <tr>
                            <td><%= @tenant.name%> </td>
                            <td><%= @tenant.phone_number%></td>
                            <td><%= @tenant.email %></td>
                            <%if @property %>
                                <td><a class "waves-effect waves-teal btn-flat" href="<%= properties_path %>/<%= @property.id %>"><%= @property.name %> </a> </td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>