<!DOCTYPE html>
<html>
    <head>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    
    <body>
        <nav>
            <div class="nav-wrapper deep-purple darken-2">
                <a href="/home" class="brand-logo" style = "margin-left:10px;">Abode</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/signin"><i class="material-icons left">person</i>Login</a></li>
                  <li><a href="/create"><i class = "material-icons left">person</i>Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <% if flash[:notice] %>
        <div class="card-panel teal lighten-2 col s3 white-text">
            <%= flash[:notice] %>
        </div>
    <% end %>
        <br/>
      <div class = "row">
        <div class = "col s12" >
          <ul id="login-tabs" class="tabs">
            <li class="tab col s6"><a href="#landlord" class = "active">Landlord</a></li>
            <li class="tab col s6"><a href="#tenant">Tenant</a></li>
          </ul>
          <div id="landlord" class="col s12">
            <div class="col s6">
              <div class="card orange darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Landlord Signup:</span>
                  <%= form_for(:manager, url: '/create/manager/local') do |f| %>
              
                    <%= f.label :name, class: 'white-text' %>
                    <%= f.text_field :name, class: 'form-control', id:"name", maxlength: "22", required: "true" %>
                
                    <%= f.label :email, class: 'white-text' %>
                    <%= f.email_field :email, class: 'form-control', id:"email", maxlength: "25", required: "true" %>
                  
                    <%= f.label :password, class: 'white-text' %>
                    <%= f.password_field :password, class: 'form-control', id:"password", maxlength: "22", required: "true" %>
                    <%= f.label :phone_number, class: 'white-text' %>
                    <%= f.text_field :phone_number, class: 'form-control', id:"phone_number", maxlenght: "10", required: "true" %>
                    <%= f.submit "Sign Up", class: "btn btn-primary" %>
                    
                  <% end %>
                  <br/>
                   <a href="/create/manager/check" class = "btn btn-primary">Signup in with Facebook</a>
                </div>
              </div>
            </div>
          </div>
          <div id="tenant" class="col s12">
            <div class="col s6 offset-s6">
              <div class="card teal lighten-2">
                <div class="card-content white-text">
                <span class="card-title">Tenant Signup:</span>
                  <%= form_for(:tenant, url: '/create/tenant/local') do |f| %>
                  
                     <%= f.label :name, class: 'white-text' %>
                    <%= f.text_field :name, class: 'form-control', id:"name", maxlength: "22", required: "true" %>
                
                    <%= f.label :email, class: 'white-text' %>
                    <%= f.email_field :email, class: 'form-control', id:"email", maxlength: "25", required: "true" %>
                  
                    <%= f.label :password, class: 'white-text' %>
                    <%= f.password_field :password, class: 'form-control', id:"password", maxlength: "22", required: "true"%>
                    
                    <%= f.label :phone_number, class: 'white-text' %>
                    <%= f.text_field :phone_number, class: 'form-control', id:"phone_number", maxlenght: "10", required: "true"%>
                    
                    <%= f.submit "Sign Up", class: "btn btn-primary  orange darken-4" %>
                  <% end %>
                  <br/>
                  <a href="/create/tenant/check" class = "btn btn-primary orange darken-4">Signup in with Facebook</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </body>
</html>