<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    </head>
    <body>
      <section class = "deep-purple darken-2" style = "padding:10px;">
        <div class = "container">
          <div class = "row">
            <h1 class = "center-align white-text">Welcome</h1>
          </div>
        </div>
      </section>
      <div class = "row">
        <div class = "col s12" >
          <ul id="login-tabs" class="tabs">
            <li class="tab col s6"><a href="#landlord" class = "active">Landlord</a></li>
            <li class="tab col s6"><a href="#tenant">Tenant</a></li>
          </ul>
          <div id="landlord" class="col s12">
            <div class="col s6">
              <div class="card orange darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Landlord Signup:</span>
                  <%= form_for(:manager, url: '/create/manager/local') do |f| %>
              
                    <%= f.label :name, class: 'white-text' %>
                    <%= f.text_field :name, class: 'form-control' %>
                
                    <%= f.label :email, class: 'white-text' %>
                    <%= f.email_field :email, class: 'form-control' %>
                  
                    <%= f.label :password, class: 'white-text' %>
                    <%= f.password_field :password, class: 'form-control' %>
                    <%= f.label :phone_number, class: 'white-text' %>
                    <%= f.text_field :phone_number, class: 'form-control' %>
                    <%= f.submit "Sign Up", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="tenant" class="col s12">
            <div class="col s6 offset-s6">
              <div class="card teal lighten-2">
                <div class="card-content white-text">
                <span class="card-title">Tenant Signup:</span>
                  <%= form_for(:tenant, url: '/create/tenant/local') do |f| %>
                  
                    <%= f.label :name, class: 'white-text' %>
                    <%= f.text_field :name, class: 'form-control' %>
                
                    <%= f.label :email, class: 'white-text' %>
                    <%= f.email_field :email, class: 'form-control' %>
                  
                    <%= f.label :password, class: 'white-text' %>
                    <%= f.password_field :password, class: 'form-control' %>
                    
                    <%= f.label :phone_number, class: 'white-text' %>
                    <%= f.text_field :phone_number, class: 'form-control' %>
                    
                    <%= f.submit "Sign Up", class: "btn btn-primary  orange darken-4" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>