<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<<<<<<< HEAD
    <body>
        <section class = "deep-purple darken-2" style = "padding:10px;">
        <div class = "container">
          <div class = "row">
            <h1 class = "center-align white-text">Welcome</h1>
          </div>
        </div>
      </section>
=======
    <nav>
            <div class="nav-wrapper deep-purple darken-2">
                <a href="/home" class="brand-logo" style = "margin-left:10px;">Abode</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/signin"><i class="material-icons left">person</i>Login</a></li>
                  <li><a href="/create"><i class = "material-icons left">person</i>Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <br/>
>>>>>>> a934d325ab937af1e3f3fbabc5622035957c749b
        <div class = "row">
            <div class = "col s8 offset-s2">
              <div class="col s12">
                <%= form_for(:session, url: '/signin/local') do |f| %>
            
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', id:"email" %>
              
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', id:"password" %>
              
                <%= f.submit "Log in", class: "btn btn-primary" %>
              <% end %>
             
              </div>
            </div>
        </div>
        </br>
        <div class = "row">
            <div class = "col s12 offset-s2">
                <a href="/auth/facebook" class = "btn btn-primary">Login in with Facebook</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>