<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <div class = "row">
            <div class = "col s8 offset-s2">
              <div class="col s12">
                <%= form_for(:session, url: '/signin/local') do |f| %>
            
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', id:"email" %>
              
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', id:"password" %>
              
                <%= f.submit "Log in", class: "btn btn-primary" %>
              <% end %>
              </div>
            </div>
        </div>
        </br>
        <div class = "row">
            <div class = "col s12 offset-s2">
                <a href="/auth/facebook" class = "btn btn-primary">Login in with Facebook</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>