<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <div class = "container">
            <div class = "row">
                <h1>Properties</h1>
            </div>
            <div class = "row">
                <table class = "highlight">
                    <thead>
                        <th></th>
                        <th>Address</th>
                        <th>Square Ft.</th>
                        <th>Capacity</th>
                        <th>Current Tenants</th>
                        <th>Monthly Rent</th>
                        <th>Notes</th>
                    </thead>
                    <tbody>
                        <%if @properties
                        @properties.each do |t| %>
                            <tr>
                                <td>  <a class "waves-effect waves-teal btn-flat" href="<%= properties_path %>/<%= t.id %>"><%= t.name %> </a> </td>
                                <td><%= t.address %></td>
                                <td><%= t.square_feet%> </td>
                                <td><%= t.max_num_tenants%>   </td>
                                <td><%= t.curr_num_tenants%>   </td>
                                <td><%= t.monthly_rent%>   </td>
                                <td><%= t.notes%>   </td>
                            </tr>
                        <%end 
                         end%>
                     </tbody>
                </table>
            </div>
            <div class = "row">
                <br/>
                <div>
                    <a class = "waves-effect waves-light btn" href = "<%=properties_path%>/new">Create New</a>
                     <a class = "waves-effect waves-light btn" href = "<%=landlords_path%>">Landlords</a>
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>