<h1>Properties</h1>
<table>
<%if @properties
  @properties.each do |t| %>
     <tr>
         <td>  <a href="<%= properties_path %>/<%= t.id %>"><%= t.name %> </a> </td>
         <td><%= t.address %></td>
         <td><%= t.square_feet%> </td>
         <td><%= t.max_num_tenants%>   </td>
         <td><%= t.curr_num_tenants%>   </td>
         <td><%= t.monthly_rent%>   </td>
        <td><%= t.notes%>   </td>
     </tr>
 <%end 
 end%>
</table>