<!DOCTYPE html>
<html>
    <% if session[:check] == 1 %>
        <%= render '/layouts/manager_nav_bar' %>
    <% else %>
        <%= render '/layouts/tenant_nav_bar' %>
    <% end %>
    <body>
        <!-- shows all the atributes -->
        <div class= "container">
            <div class = "row">
                <h1>Properties</h1>
            </div>
        </div>
        <div class = "row">
            <table class = "highlight">
                
                <thead>
                    <th></th>
                    <th>Address</th>
                    <th>Square Ft.</th>
                    <th>Capacity</th>
                    <th>Current Tenants</th>
                    <th>Monthly Rent</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    <%if @property %>
                        <tr>
                            <td><%= @property.name %> </a> </td>
                            <td><%= @property.address %> </a> </td>
                            <td><%= @property.square_feet %> </a> </td>
                            <td><%= @property.max_num_tenants%> </td>
                            <td><%= @property.curr_num_tenants%> </td>
                            <td><%= @property.monthly_rent %> </td>
                            <td><%= @property.notes %> </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <br/>
        <% if session[:check] == 1 %>
            <div class = "row">
                <%= link_to "Delete", property_path(@property), :method => :delete %>
            </div>
        <% end %>
        <div class = "row">
            <table class = "highlight">
                <thead>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    <%if @tenants 
                    @tenants.each do |t| %>
                        <tr>
                            <td><%= t.name%> </td>
                            <td><%= t.phone_number%> </td>
                            <td><%= t.email%> </td>
                        </tr>
                    <% end 
                    end %>
                </tbody>
            </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
    
</html>