<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @manager.name %>,</h1>
    <p>
        One of your tenants has sent you a service request:
        <ul>
            <li>Property: <%= @property.name %></li>
            <li>Address: <%= @property.address %></li>
            <li>Requester: <%= @tenant.name %></li>
            <li>Subject: <%= @service.subject %></li>
        </ul>
    </p>
    <p>
        <%= @service.notes %>
    </p>
    <p>
        To respond to this request, please follow this link: <a href = "<%=@url %>" />
    </p>
  </body>
</html>