<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <div class = "container">
            <div class = "row">
                <h1>Landlords</h1>
            </div>
            <div class = "row">
                <table class = "highlight">
                    <thead>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Office Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Notes</th>
                    </thead>
                    <tbody>
                        <%if @landlords
                        @landlords.each do |t| %>
                            <tr>
                               <td>  <a class "waves-effect waves-teal btn-flat" href="<%= properties_path %>/<%= t.id %>"><%= t.id %> </a> </td>
                                <td><%= t.first_name%> </td>
                                <td><%= t.last_name%> </td>
                                <td><%= t.office_address%>   </td>
                                <td><%= t.phone_number%>   </td>
                                <td><%= t.email%>   </td>
                                <td><%= t.notes%>   </td>
                            </tr>
                        <%end 
                         end%>
                     </tbody>
                </table>
            </div>
            <div class = "row">
                <br/>
                <div>
                    <a class = "waves-effect waves-light btn" href = "<%=landlords_path%>/new">Create New</a>
                    <a class = "waves-effect waves-light btn" href = "<%=properties_path%>">Properties</a>
                  
                
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>